a.disabled {
  pointer-events: none;
  cursor: default;
}
.dev-icons{
	font-size: 16px;
}
.dev-icons .list-inline-item {
    display: inline-block;
    background: #f1f1f1;
    padding: 1px 9px;
    border-radius: 4px;
}

nav#sideNav {
    background-color: #007bff !important;
    background-image: linear-gradient(0deg, #000041 0%, rgb(255 36 77 / 74%) 100%);
  }